---
import ArrowRight from "@icons/arrow--right.svg";
import ArrowLeft from "@icons/arrow-left.svg";

import ScrollingContainer from "./scrollingContainer.astro";

const { cardContent } = Astro.props;
---



<section class="financial">
  <div class="header">
    <div class="text-container">
      <h2>Financial projections</h2>
      <p>Financial projections are essential for planning and monitoring a company’s performance. They provide insights into potential revenue, expenses, and profitability over specific periods.</p>
    </div>

    <div class="arrows">
      <button class="arrow arrow-left"  aria-label="Forrige"><ArrowLeft /></button>
      <button class="arrow arrow-right" aria-label="Næste"><ArrowRight /></button>
    </div>
  </div>

  <div class="carousel">
    <ScrollingContainer />
  </div>
</section>


<style>

  section{


  display: grid;
  background-color: var(--bg-grey);
  

  .header{
      display: flex;
      gap: 23.9375rem;
      align-items: flex-end;
      
      .arrows{
        display: flex;
            align-items: flex-start;

            gap: 1.625rem;
         
    
        .arrow-left{
                    max-width: 1.32194rem;
                    background-color: var(--bg-black);
                    color: var(--white);
                     border-radius: 50%;
                    padding: 20px 20px;
                }
                 .arrow-right{
                    max-width: 1.32194rem;
                    background-color: var(--yellow);
                    color: var(--bg-black);
                    border-radius: 50%;
                    padding: 20px 20px;
                }
      }

  }
  
 
}






</style>