<footer class="full-bleed">
    <div class="container">
  <div class="logo">AskExperts</div>
   <hr class="divider" aria-hidden="true" />
   <p class="legal">
      ©2025 Consultalk. All rights reserved |
      <a href="#">Terms of Service</a> |
      <a href="#">Privacy Policy</a>
    </p>
    </div>
</footer>

<style>
footer{

    background-color: var(--bg-black);
    color: var(--white);
    padding-block: 2.25rem 2.75rem;
    div{
        align-items: center;
        justify-content: center;
        text-align: center;
        
        .divider{
            margin-top: 2.25rem;
            margin-bottom: 2.25rem;
              height: 1px;
            color: var(--p-grey);

        }


     p, a{
          color: var(--white);
          font-family: Lato;
            font-size: var(--step--2);
            font-style: normal;
            font-weight: 400;
  
     }

    }

}

</style>