<header>
   
    <div class="logo">
        AskExperts
    </div>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Case study</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">About</a></li>
    </ul>

    <a href="" class="login-btn">Login</a>

</header>


<style>
header{
   display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--bg-header);
    grid-column: 1/-1;

   

.logo{
color: var(--white);
  font-family: "Cabin", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 105%; 
}

ul{
    display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      li{
        list-style: none;
      }
      
      a{
        text-decoration: none;
          list-style: none;
          color: var(--white);
      }
}

 .login-btn {
      border-radius: 20px;
      background: #ffcc4a;
      padding: 4px 16px;
    }
    }



</style>