
<header class="site-header full-bleed">
  <div class="header-bar container">
    <div class="logo">AskExperts</div>

    <nav aria-label="Primary">
      <ul class="nav">
        <li><a href="">Home</a></li>
        <li><a href="">Case study</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">About</a></li>
      </ul>
    </nav>

    <a href="" class="login-btn">Login</a>
  </div>
</header>


<style>



.site-header{
  background: var(--bg-header);
  color: var(--white);
  
  .header-bar{                 
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 1rem;
     align-items: center;

    padding: 2.375rem 0;  
    
    /* padding-block: 0.75rem; */
    
    .logo{
     color: var(--white);
      font-family: "Cabin", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    }
    
    .nav{
      display: flex;
      gap: 30px;
      margin: 0;                 
      padding: 0;
      list-style: none;
       margin: 0; padding: 0; list-style: none;
     
      a{
        color: var(--white);
        text-decoration: none;
      }
    }
    
    .login-btn{
      border-radius: 20px;
      background: #ffcc4a;
      padding: 4px 16px;
      color: #111;
      text-decoration: none;
    }
  }
}






</style>