---
import { Image } from "astro:assets";
import Services from "./Services.astro";
import CEOImage from "@assets/images/ceo.png";
---

<section class="hero">
  <div class="hero-content">
    <h1>Empowering Your Business Growth</h1>
    <p>
      Discover tailored strategies and expert insights to take your business to
      the next level. Let us help you navigate challenges and achieve
      sustainable success.
    </p>
    <a href="#0">Book a Meeting</a>
  </div>
  <Image src={CEOImage} alt="CEO" />

  <!-- <Services /> -->
</section>

<style>
  /* Styles her */
  @layer components {
    .hero {
          display: grid;

      background-color: #f3f4f6;
      /* padding: 2rem; */
       grid-column: 1 / -1;

       
        grid-template-columns: [full-bleed-start] 1fr  1fr [full-bleed-end];

       > * { grid-column: full-bleed-start / full-bleed-end; }

       img{
        
        object-fit: cover;
         justify-self: end;
      inline-size: clamp(260px, 45vw, 640px);
      height: auto;
        }
    }
  }

  

  /* section{
    display: grid;
  grid-template-columns: [full-bleed-start] 1fr  1fr [full-bleed-end];
  column-gap: 1rem;

  .hero-content{
    grid-column: 1;
  }

  img{
    grid-column: full-bleed-end;
  }
  } */
</style>
