---
import ValuesContainer from "@components/valuesContainer.astro"
const { coreValues } = Astro.props;

---

<section class="full-bleed">
    <div class="container header">

        <div class="text-container">
        <p class="undertitel">Growing with our Clients</p>
        <h2>Our core values & principles</h2>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
         </div>

         <div>
        <a href="">Get in touch</a>
         </div>

        </div>
        <ValuesContainer />
</section>


<style>
    section{
        background-color: var(--bg-black);
        color: var(--white);
        padding-block: clamp(3rem, 6vw, 5rem); 
        

        .header{
         display: flex;
        justify-content: space-between; 
        align-items: flex-end;
        gap: 2rem;
        margin-bottom: 2.5rem; 

        p{
            color: var(--white);
        }

        

            
        a{
        display:inline-block;
        margin-top: 1rem;
        padding: .85rem 1.25rem;
        border-radius: 999px;
        background: var(--white);
        color: var(--bg-black);
        text-decoration: none;
        }
}

    }
</style>